@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(10, 13, 69, 1);
  color: rgba(30, 30, 30, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 64px;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(10, 13, 69, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  background: rgba(10, 13, 69, 1);

  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  border-radius: 15px;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(10, 13, 69, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(244, 244, 244, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 18px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 80px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(10, 13, 69, 1);

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 50px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 836px;

  padding: 104px 20px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Hero.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  width: 294px;
  height: 218px;
}

.home-text {
  font-family: Schibsted Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(244, 244, 244, 1);
  padding: 16px 0 34px;
}
.home-text-two {
  font-family: Schibsted Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 16px;
  color: rgba(244, 244, 244, 1);
}
.home__google-button_image {
  width: 133px;
  height: 50px;
}
.home__google-button_link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 1024px;
    padding: 177px 72px 0px;
    background-image: url("/image/home/Hero\ \(1\).png");
  }
  .home__container-top {
    width: 669px;
    align-items: start;
  }
  .home-title {
    width: 390px;
    height: 291px;
  }

  .home-text {
    font-family: Schibsted Grotesk;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    padding: 24px 0 56px;
  }
  .home-text-two {
    font-family: Schibsted Grotesk;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.uniqueness {
  width: 375px;
  height: 457px;
  margin: auto;
  padding: 32px 20px 0;
  background: rgba(99, 116, 192, 1);
  position: relative;
  z-index: 2;
}

.uniqueness::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/image/uniqueness/Our\ Uniqueness.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.uniqueness-text {
  width: 335px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  border-radius: 15px;
  background: rgba(244, 244, 244, 1);
  border: 3px solid rgba(255, 190, 92, 1);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-top: 24px;
}
@media screen and (min-width: 1200px) {
  .uniqueness {
    width: 1440px;
    height: 472px;
    padding: 90px 182px 0;
  }

  .uniqueness::before {
    background-image: url("/image/uniqueness/Our\ Uniqueness\ \(1\).png");
  }

  .uniqueness-text {
    width: 1076px;
    padding-top: 32px;
    padding-right: 220px;
    padding-bottom: 32px;
    padding-left: 32px;
    border-radius: 15px;
    background: rgba(244, 244, 244, 1);
    border: 3px solid rgba(255, 190, 92, 1);
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;

    margin-top: 48px;
  }
}
.about {
  position: relative;
  z-index: 2;
  padding: 38px 20px 0px;
  margin: auto;
  width: 375px;
  height: 660px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/about/Game\ Description\ \(2\).png");
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/image/about/Game\ Description.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.about-title {
  font-family: Schibsted Grotesk;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(244, 244, 244, 1);
}

.about-text {
  width: 335px;
  border-radius: 15px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  background: rgba(244, 244, 244, 1);
  border: 3px solid rgba(255, 190, 92, 1);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 90px 182px 0px;
    margin: auto;
    width: 1440px;
    height: 616px;
  }

  .about::before {
    background-image: url("/image/about/Game\ Description\ \(1\).png");
  }

  .about-title {
    font-family: Schibsted Grotesk;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
  }

  .about-text {
    width: 1076px;
    border-radius: 15px;
    padding: 32px 260px 32px 32px;

    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;

    gap: 24px;
    margin-top: 48px;
  }
}
.characters {
  padding: 30px 20px 0;
  margin: auto;
  width: 375px;
  height: 1349px;
  background: rgba(99, 116, 192, 1);
  position: relative;
  z-index: 2;
}

.characters::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/image/characters/Main\ Characters\ \(2\).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 24px;
}
.characters-item {
  width: 335px;
  border-radius: 15px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  background: rgba(244, 244, 244, 1);
  box-shadow: 10px 12px 50px 0px rgba(228, 123, 205, 0.7);
}
.characters-item-two {
  background: rgba(255, 190, 92, 1);
}
.characters-text-bold {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.characters-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .characters {
    padding: 90px 72px 0;
    width: 1440px;
    height: 918px;
  }

  .characters::before {
    background-image: url("/image/characters/Main\ Characters\ \(3\).png");
  }

  .characters-list {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    gap: 44px;
    flex-wrap: wrap;
    height: 630px;
    margin-top: 48px;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
  }
  .characters-item {
    width: 551px;
    border-radius: 15px;
    padding-top: 32px;
    padding-right: 100px;
    padding-bottom: 32px;
    padding-left: 32px;
    background: rgba(244, 244, 244, 1);
    box-shadow: 10px 12px 50px 0px rgba(228, 123, 205, 0.7);
    margin: 0;
  }
  .characters-item-two {
    background: rgba(255, 190, 92, 1);
    padding: 50px 32px;
  }
  .characters-item-three {
    width: 705px;

    padding-top: 32px;
    padding-right: 130px;
    padding-bottom: 32px;
    padding-left: 32px;

    border-radius: 15px;
  }
  .characters-text-bold {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
  }
  .characters-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    padding-top: 16px;
  }
}
.reviews {
  width: 375px;
  margin: auto;
  padding: 32px 20px;
  background: rgba(99, 116, 192, 1);
}

.reviews-list {
  width: auto;
  padding-top: 24px;
  padding-bottom: 34px;
  margin: auto;
}
.reviews-item {
  margin: 0 5px;
  width: 335px;
  height: 406px;
  border-radius: 15px;
  padding: 16px;
  background: rgba(244, 244, 244, 1);
}

.reviews-text-bold {
  font-family: Schibsted Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
}
.reviews-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  height: 366px;
  margin-top: 8px;
}
.reviews-texts {
  font-family: Schibsted Grotesk;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 0%;
  color: rgba(233, 160, 217, 1);
  margin-top: -80px;
  margin-left: 268px;
}
.reviews-lists {
  display: none;
}
@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    margin: auto;
    padding: 90px 160px;
    background: rgba(99, 116, 192, 1);
  }
  .reviews-div {
    display: none;
  }

  .reviews-lists {
    display: flex;
    padding-top: 48px;
  }
  .reviews-item {
    margin: 0 40px;
    width: 1076px;
    height: 372px;
    padding: 48px;
    padding-right: 71px;
  }

  .reviews-text-bold {
    font-family: Schibsted Grotesk;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
  }
  .reviews-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;

    height: 180px;
    margin-top: 32px;
  }
  .reviews-texts {
    font-family: Schibsted Grotesk;
    font-weight: 700;
    font-size: 128px;
    line-height: 192px;
    letter-spacing: 0%;

    margin-top: -70px;
    margin-left: 877px;
  }
}

.faq {
  padding: 32px 20px 0px;
  margin: auto;
  width: 375px;
  background: rgba(99, 116, 192, 1);
}
.faq-container {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.faq-item {
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border-radius: 4px;
  background: rgba(244, 244, 244, 1);
  border: 3px solid rgba(255, 190, 92, 1);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Schibsted Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
}
.faq-img {
  margin: 24px auto 0;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 90px 72px 90px 622px;
    margin: auto;
    width: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("/image/faq/FAQ.png");
  }
  .faq-container {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .faq-item {
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    border-radius: 4px;
    background: rgba(244, 244, 244, 1);
    border: 3px solid rgba(255, 190, 92, 1);
  }

  .faq-question {
    font-family: Schibsted Grotesk;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
  }

  .faq-answer {
    font-family: Schibsted Grotesk;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
  }
  .faq-img {
    display: none;
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding: 32px 0px;
}

.gallery__list {
  width: auto;
  padding: 24px 0;
  margin: auto;
}
.gallery__item {
  width: 313px;
  height: 513px;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
}
.gallery__item-two {
  width: 335px;
  height: 163px;
}
.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}
.gallery-list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    margin: auto;
    padding: 90px 180px;
  }

  .gallery__list {
    width: auto;
    padding: 24px 0;
    margin: auto;
  }
  .gallery-list {
    display: flex;
    padding-top: 48px;
  }
  .gallery-div {
    display: none;
  }
  .gallery__item {
    width: 313px;
    height: 513px;
    overflow: hidden;
    position: relative;
    margin: 0 30px;
  }
  .gallery__item-two {
    width: 1052px;
    height: 513px;
  }
  .slick-prev:before {
    content: url("/image/gallery/Button.png");
    margin-left: -100px;
  }
  .slick-next:before {
    margin-right: -100px;
    content: url("/image/gallery/Button\ \(1\).png");
  }
}
.features {
  width: 375px;
  height: 1568px;
  margin: auto;
  padding: 32px 20px 0px;
  position: relative;
  z-index: 2;
}

.features::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/image/features/Benefits.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.features-list {
  padding-top: 24px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.features-item {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  width: 335px;
  border-radius: 15px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  gap: 12px;
  background: rgba(244, 244, 244, 1);
  box-shadow: 10px 12px 50px 0px rgba(228, 123, 205, 0.7);
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 848px;
    padding: 90px 72px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/features/Benefits\ \(2\).png");
  }

  .features::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/image/features/Benefits\ \(1\).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
  }

  .features-list {
    padding-top: 48px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;

    gap: 35px;
  }
  .features-item {
    width: 408px;
    border-radius: 15px;
    padding-top: 32px;
    padding-right: 100px;
    padding-bottom: 32px;
    padding-left: 40px;
  }
}
.footer {
  color: #ffffff;
  padding: 32px 0px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.footer-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 48px 72px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: start;

    align-items: stretch;

    gap: 24px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;

    gap: 16px;
  }
  .footer-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .footer-copyright {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  background: rgba(99, 116, 192, 1);
  padding: 96px 20px 32px;
  color: rgba(244, 244, 244, 1);
}
.policy-terms-title {
  font-family: Schibsted Grotesk;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
}

.policy-terms-text {
  font-family: Schibsted Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 166px 72px 90px;
  }
  .policy-terms-title {
    font-family: Schibsted Grotesk;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0%;
  }

  .policy-terms-text {
    font-family: Schibsted Grotesk;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
  .policy-terms-text-one {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 352px;

  padding: 20px;
  background: rgba(99, 116, 192, 1);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Schibsted Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(244, 244, 244, 1);
}
.cookie-button-container {
  padding: 40px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.cookie-button {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(244, 244, 244, 1);
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  width: 156px;
  height: 40px;
  border: 3px solid rgba(10, 13, 69, 1);
}
#accept-cookies {
  background: rgba(10, 13, 69, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Schibsted Grotesk;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0%;
  }
  .cookie-button-container {
    padding: 0;
    padding-top: 68px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 48px;
  }
  .cookie-button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    width: 227px;
    height: 62px;
    border: 3px solid rgba(10, 13, 69, 1);
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 902px;

    padding: 72px;
    display: none;
  }
}
